{% extends 'minimal_layout.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }} | {% blocktrans %}Library Card Denied{% endblocktrans %}
{% endblock %}


{% block content %}
    <div class="embeded_page_top">
        {% include "includes/header_logo.html" %}

        <h1 class="embeded_page_title">| {% blocktrans %}Library Card Denied{% endblocktrans %} </h1>
    </div>


        <div class="form-message-area">
            <h4>{% blocktrans %}Library Card not allowed{% endblocktrans %}</h4>

            {% if state_name %}
                {% blocktrans with state_name=state_name %}You must be in <strong>{{ state_name }} </strong> to request
                    this library card{% endblocktrans %}
            {% endif %}
        </div>



{% endblock %}
