{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<body>

<p>{% blocktrans %}The end of the sequence you have defined for creating your card numbers will soon be
    reached.{% endblocktrans %} </p>
<p>{% blocktrans %}Please go to the Virtual Card admin website to update your sequence{% endblocktrans %} </p>
<p>{% blocktrans %}You can login in your personal space here: {% endblocktrans %}
    <a href="{{ login_url }}">{{ login_url }}</a>
</p>
<p>{% blocktrans with library_name=library_name %}The {{ library_name }} team{% endblocktrans %}</p>
</body>
</html>