{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% trans "Email Sent" as email_sent %}
{% trans "Password reset complete" as password_reset_complete %}
{% trans "Your new password has been set. " as new_password_has_been_set %}
{% trans "You can log in now on the" as you_can_log %}
{% trans "log in page" as login_page %}
{% block title %}
    {{ block.super }} | {% trans email_sent %}
{% endblock %}

{% block content %}
    <h1>{% trans password_reset_complete %}</h1>
    <p>

        {% trans new_password_has_been_set %} {% trans you_can_log %} <a title="{% trans login_page %}"
                                                                         aria-label="{% trans login_page %}"
                                                                         href="{% url 'login' %}">{% trans login_page %}</a>.</p>
{% endblock %}
