{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% trans "Email Sent" as email_sent %}
    {{ block.super }} | {% trans email_sent %}
{% endblock %}

{% block content %}
    {% trans "Password reset complete" as password_reset_complete %}
    {% trans "Your new password has been set. " as new_password_has_been_set %}
    {% trans "You can log in now on the" as you_can_log %}
    {% trans "log in page" as login_page %}
    
    <h1>{{ password_reset_complete }}</h1>
    <p>

        {{ new_password_has_been_set }} {{ you_can_log }} <a title="{{ login_page }}"
                                                                         aria-label="{{ login_page }}"
                                                                         href="{% url 'login' %}">{{ login_page }}</a>.</p>
{% endblock %}
