{% extends 'layout_without_branding.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
    {{ block.super }} | {% trans email_sent %}
{% endblock %}

{% block content %}
    <h1>{% blocktrans %} Email Sent {% endblocktrans %}</h1>
    <p>{% blocktrans %} Check your inbox! {% endblocktrans %}</p>
    <p>{% blocktrans %} We've emailed you instructions for setting your password. You should receive the email
        shortly!  {% endblocktrans %}.</p>

    <p>
        {% blocktrans %} Don't forgot to check your spam folder. {% endblocktrans %}
    </p>

    {% if messages %}
        <p class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}